#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	gcc src/pbhelper.c -lbatman-wrappers -O3 -o usr/bin/pbhelper

override_dh_installsystemd:
	dh_installsystemd -padaptation-zahedan-configs --name=modules modules.service --no-start
	dh_installsystemd -padaptation-zahedan-configs --name=pbhelper pbhelper.service --no-start
